html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #0000ff 2%, #ff5050 84%);
  }

  /*Meniu */
  .menu {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-bottom: 1px solid black;
  }
  .menu ul{
    float: right;
  }
  .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 15px;
    margin-right: 50px;
    text-align: center;
    position: relative;
  }
  .menu ul li  a{
    letter-spacing: 2px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
  .menu li.active a {
    border-bottom: 2px solid #FB1401;
    color: #646166;
  }
  .menu ul li a:hover{
    border-bottom: 2px solid #FB1401;
  }
  .logo img{
    float:left;
    margin-left: 5px;
    height: 51px;
    width: 60px;
  }
  .menu ul li.active a {
    border-bottom: 2px solid #FB1401;
    color: #0189FB;
  }

  .col-lg-6{
    text-align: center;
  }
  .requests{
    height: 100%;
    width: 100%;
  }
  .discord{
    display:inline-block;
    border: 1px solid black;
    height: 541px;
    width: 401px;
    border-radius: 5px;
  }
  .cereri{
    display:inline-block;
    border: 1px solid black;
    height: 540px;
    width: 400px;
    background-color: #FF3434;
  }
  .cereri .title{
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
  }
  .gradeList{
    width: 97%;
    height: 28px;
  }
  .grad {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    color: white;
  }
  .adresa{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .universal{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .serverName {
    width: 97%;
    font-family: "Roboto", sans-serif;
  }
  .emailAddress{
    width: 97%;
    font-family: "Roboto", sans-serif;
  }
  .admin{
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    width: 97%;
  }
  .adminLabel{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .helperLabel{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    display: none;
  }
  .builderLabel{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    display: none;
  }
  .recoverLabel{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    display: none;
  }
  .helper {
    width: 97%;
    font-family: "Roboto", sans-serif;
    display: none;
  }
  .builder {
    width: 97%;
    font-family: "Roboto", sans-serif;
    display: none;
  }
  .recover {
    width: 97%;
    font-family: "Roboto", sans-serif;
    display: none;
  }
  .helper_Q2[type="file"]{
    display: none;
  }
  .builder_Q2[type="file"]{
    display: none;
  }
  .recover_Q1[type="file"]{
    display: none;
  }
  .emailSender{
    margin-top: 5px;
    border: 1px solid black;
    background-color: dodgerblue;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 4px 10px;
  }
