{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>GrassCraft | Acasa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\indexStyle.css' %}">
    <link rel="shortcut icon" href="{% static 'images\icon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
       <div class="menu">
          <ul>
            <li class="active" alt="grass-craft home section" title="grass-craft home section"><a href="{% url 'index' %}">Acasa</a></li>
            <li alt="grass-craft rules section" title="grass-craft rules section"><a href="{% url 'regulament' %}">Regulament</a></li>
            <li alt="grass-craft staff requests section" title="grass-craft staff requests section"><a href="{% url 'staffRequests' %}">Modele cereri</a></li>
            <li alt="grass-craft staff vote section" title="grass-craft staff vote section"><a href="{% url 'vote' %}">Voteaza</a></li>
          </ul>
          <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images\logo.png' %}" title="grass-craft logo menu" alt="grass-craft logo menu"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="owners">
      <br></br><br></br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="owner">
            <div class="title" title="grass-craft server-owner" alt="grass-craft server-owner">Detinatorul serverului</div>
              <img src="{% static 'images\owner.png' %}" class="text-center" title="grass-craft minecraft owner head" alt="grass-craft minecraft owner head"></img>
              <div class="description1" title="grass-craft owner info" alt="grass-craft owner info">
                Buna, ma numesc Sebastian si am 13 ani. Am decis sa deschid acest server pentru a face o comunitate unita care sa fie top#1 in serverele de creative roleplay din Romania. Daca aveti intrebari ma puteti contacta pe discord Mr_SebPaY#5195 sau pe adresa de e-mail seby04911@gmail.com.
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="informatii">
                <div class="title" title="grass-craft server info" alt="grass-craft server info">Informatii</div>
                <div class="description2">
                  <p class="welcome" title="grass-craft welcome message" alt="grass-craft welcome message">Bine ai venit pe serverul GrassCraftRo!<p>
                  <p class="founder" title="grass-craft founder" alt="grass-craft founder">Acest server a fost infiintat de Mr_SebPaY</p>
                  <p class="contact" title="grass-craft contact" alt="grass-craft contact">Ne puteti contacta pe discord: Mr_SebPaY#5195</p>
                  <p class="openTime" title="grass-craft opening time" alt="grass-craft opening time">Serverul este deschis zilnic de dimineata pana seara { Orele 6 pana la orele 2-3 noaptea }
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
