{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GrassCraft | Regulament</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ruleStyle.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
       <div class="menu">
          <ul>
            <li alt="grass-craft home section" title="grass-craft home section"><a href="{% url 'index' %}">Acasa</a></li>
            <li class="active" alt="grass-craft rules section" title="grass-craft rules section"><a href="{% url 'regulament' %}">Regulament</a></li>
            <li alt="grass-craft staff requests section" title="grass-craft staff requests section"><a href="{% url 'staffRequests' %}">Cereri</a></li>
          </ul>
          <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" title="grass-craft logo menu" alt="grass-craft logo menu"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="regulament">
      <br></br><br></br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="reguli">
              <div class="title" title="grass-craft rules list" alt="grass-craft rules list">Reguli pe care jucatorii trebuie sa le respecte</div>
              <div class="list">
                <p title="grass-craft cheating rule" alt="grass-craft cheating rule">Daca gasesti un player care foloseste hack/cheats trebuie sa ni-l raportezi! Daca nu faci asta vei putea primi tempban 7h pentru neraportare hack.</p>
                <p title="grass-craft abuse rule" alt="grass-craft abuse rule">Daca faci abuz de HelpOp vei primi ban 7h pentru Abuz HelpOp 2/2.</p>
                <p title="grass-craft insult rule" alt="grass-craft insult rule">Daca injuri staff/playeri vei primi mute 1h pentru jignire player/staff si daca mai faci odata poti primi tempban 3h motiv jignire staff/playeri.</p>
                <p title="grass-craft begging rule" alt="grass-craft begging rule">Daca cerseti grad vei primi tempban 3h motiv cersire grad.</p>
                <p title="grass-craft harassment rule" alt="grass-craft harassment rule">Daca esti hartuit de un player care este pe plot ta trebuie sa faci o reclamatie de hartuire pe discordul ownerului: Mr_SebPaY#5195</p>
                <p title="grass-craft staff applicant rule" alt="grass-craft staff applicant rule">Daca vrei sa aplici pentru staff trebuie sa indeplinesti urmatoarele conditii:</p>
                <div class="staffRules">
                  <ul>
                    <li title="grass-craft staff needed age" alt="grass-craft staff needed age">Varsta 13 ani </li>
                    <li title="grass-craft staff experience" alt="grass-craft staff experience">Experienta pentru gradul pe care vrei sa il aplici</li>
                    <li title="grass-craft staff discord" alt="grass-craft staff discord">Discord { optional }</li>
                    <li title="grass-craft staff played hours" alt="grass-craft played hours">Dovada cu orele jucate pe server { 20h }</li>
                  <ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
